@page
@model AT150732.WebApp.Pages.Account.AccessDeniedModel
@{
}
<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>